
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d4f1c5; /* Set the desired background color for the page */
}

.pagecard {
  background-color: white;
  padding: 20px;
  width: 80%; /* Adjust the width as desired */
  max-width: 800px; /* Adjust the maximum width as desired */
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow to the corners */
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  margin-top: auto; /* Push the content to the top */
  margin-bottom: auto;
  
}

  
  .profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }


  .image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .profile-picture-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .field-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  