.cart-wrapper {
    width: 335px;
    background-color: #5BA448;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    max-width: 335px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .static-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  .cart-title {
    display: flex;
    align-items: center;
  }
  
  .cart-container {
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;


  }
  
  .cart-content {
    padding: 16px 0;
  }
  
  .cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-info {
    flex-grow: 1;
  }
  
  .cart-quantity-controls {
    display: flex;
    align-items: center;
  }
  
  
  .cart-delete-btn {
    color: #BB0000;
    font-size: 14px;
    padding: 0;
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .cart-delete-btn:hover {
    text-decoration: underline;
    background-color: #FF0000;
  }
  
  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  .cart-button {
    padding: 8px 16px;
    border: none;
    background-color: #5BA448;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart-button:hover {
    background-color: #4d8e39;
  }

  .cart-plus-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 8px;
    border: none;
    background-color: white;
    color: #5BA448;
    cursor: pointer;
  }

  .cart-minus-btn{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    padding: 0;
    border: none;
    background-color: white;
    color: #5BA448;
    cursor: pointer;
  }

.cart-plus-btn:active,
.cart-minus-btn:active {
  background-color: #eaeaea;
}

  
  .cart-delete-btn {
    color: #BB0000;
    font-size: 14px;
    padding: 0;
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding:4px;
    font-weight:bold;

  }
  
  .cart-delete-btn:hover {
    text-decoration: underline;
    background-color: rgb(228, 228, 228);
  }
  