.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.product-image {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.product-description {
  margin-top: 10px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  color: #888;
}

.quantity-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.quantity {
  margin: 0 10px;
}

.buy-btn {
  background-color: rgba(210, 233, 0, 0.624);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight:bold;
  padding: 8px 16px;
  margin-top: auto;
  cursor: pointer;
  margin-left: 5px;
  color: black;
}

.minus-btn,
.plus-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  padding: 0;
  border: none;
  background-color: white;
  color: #5BA448;
  cursor: pointer;
}

.minus-btn{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  padding: 0;
  border: none;
  background-color: white;
  color: #5BA448;
  cursor: pointer;
  padding-bottom: 5px;
}

.minus-btn:active,
.plus-btn:active {
  background-color: #4C843C; /* Color for clicking effect */
}

.minus-btn:hover,
.plus-btn:hover {
  background-color: #eaeaea; /* Color for hovering effect */
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
  justify-content: flex-start;
  align-content: flex-start;
}

.scroll-container {
  height: 1000px;
  margin-top: 100px;
}
